# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Joe303Mod.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Mike\Documents\My Games\Terraria\ModLoader\Mod Sources\Joe303Mod\.idea\.idea.Joe303Mod\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
